<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.donkey.versus" >

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <permission
        android:name="com.example.donkey.versus.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.example.donkey.versus.permission.C2D_MESSAGE" />
    <!-- 接收 GCM 用 -->
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <!-- 用來連接到 Google Services -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 收到訊息時保持 CPU 休眠 -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <dependency>
        <groupId>
com.facebook.android
        </groupId>

        <artifactId>
facebook-android-sdk
        </artifactId>

        <version>
4.3.0
        </version>
    </dependency>
    <dependency>
        <groupId>
com.squareup.picasso
        </groupId>

        <artifactId>
picasso
        </artifactId>

        <version>
2.5.2
        </version>
    </dependency>
    <dependency>
        <groupId>
br.com.liveo
        </groupId>

        <artifactId>
navigationdrawer-material
        </artifactId>

        <version>
2.3.4
        </version>

        <type>
aar
        </type>
    </dependency>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />
        <activity
            android:name=".newRoomActivity"
            android:label="@string/title_activity_new_room" >
        </activity>

        <activity
            android:name=".RoomHomeActivity"
            android:label="@string/title_activity_room_home" >
        </activity>
        <activity
            android:name=".inviteFriendActivity"
            android:label="@string/title_activity_invite_friend" >
        </activity>
        <activity
            android:name=".challengeHomeActivity"
            android:label="@string/title_activity_challenge_home" >
        </activity>
        <activity
            android:name=".joinActivity"
            android:label="@string/title_activity_join" >
        </activity>

        <activity android:name="navigationDrawerHome" android:theme="@style/MyNavigationDrawerTheme" />

        <receiver
            android:name=".GcmBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />

                <category android:name="com.programmingtechniques.gcmdemo" />
            </intent-filter>
        </receiver>

        <service android:name=".GcmIntentService" />

        <!-- [END gcm_listener] -->
        <!-- [START instanceId_listener] -->
        <!-- [END instanceId_listener] -->


    </application>

</manifest>
